[submodule "dwm"]
	path = dwm
	url = git@github.com:oruuke/dwm.git
[submodule "dmenu"]
	path = dmenu
	url = git@github.com:oruuke/dmenu.git
[submodule "st"]
	path = st
	url = git@github.com:oruuke/st.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:oruuke/kickstart.nvim.git
